<!--The content below is only a placeholder and can be replaced.-->

<div class="flex-container">
  <div class="first-box">
    <div class="first-row-div">Select Question and something else here</div>
    <div> 5 out of 15</div>
  </div>
  <div class="second-box">
    <div class="first-row-div">
      <div>
      asldkaskldasldkasdk
      </div>
    </div>
    <div>
      <div class="flex-container-buttons">
        <div>
          <button>Previus</button>
          <button>Next</button>
        </div>
        <div>
          <button>Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>